// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-serif: "Helvetice", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables";
$addColors: (
        "twitter":($twitter, $twitter-invert),
        "linkedin": ($linkedin, $linkedin-invert),
        "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

@import "~bulma/bulma";


/*------------------------------------*\
  #BASIC
\*------------------------------------*/

/**
 * Final main CSS file composed of separated Sass files. New created Sass files
 * need to be added here to have any effect.
 *
 * The order of the import directives is important. Changing the file order
 * within an import directive however should do no harm in most cases.
 *
 * We’re using the CSS Guidelines (https://cssguidelin.es/) in all CSS files for
 * “writing sane, manageable, scalable CSS”. For cases, that are not covered in
 * the CSS Guidelines, please consult the Sass Guidelines
 * (https://sass-guidelin.es/).
 *
 * The architecture stems from ITCSS (https://itcss.io/). The following
 * article gives you a complete explanation to this approach:
 * https://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528.
 */





/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

/*
Settings

Styleguide 1.0
*/

@import
'1-settings/settings.misc',
'1-settings/settings.colors',
'1-settings/settings.fonts';





/*------------------------------------*\
  #TOOLS
\*------------------------------------*/

@import
'2-tools/tools.mixins';





/*------------------------------------*\
  #GENERIC
\*------------------------------------*/





/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/

@import
'4-elements/elements.body';



/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/






/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

@import
'6-components/components.logo',
'6-components/components.navigation';





/*------------------------------------*\
  #TRUMPS
\*------------------------------------*/






/*------------------------------------*\
  #BULMA
\*------------------------------------*/