{% extends 'base.html.twig' %}
{% block body %}
    <div>
    {% if is_granted('ROLE_USER') %}
        <h1 class="title is-1">Matches</h1>
        <match-table-container></match-table-container>
        {% else %}
        <h1 class="title is-2">Login to see your matches.</h1>
    {% endif %}
    </div>
{% endblock %}