{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <h3>Matches</h3>
        {% if matches %}
            <ul>
                {% for match in matches %}
                    <li>{{ match.id }} {{ match.season.number }} {{ match.map.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No Matches logged</p>
        {% endif %}
        <example></example>
    </div>
{% endblock %}