/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

/*
  Main Navigation
*/

.nav-main{
  backface-visibility: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
  height: calc(100% + 60px);
  left: 0;
  margin: 0;
  overflow-y: auto;
  padding-bottom: 60px;
  position: fixed;
  top: 0;
  transition: transform .2s ease;
  transform: translateX(-105%);
  width: 300px;
  will-change: transform;
  z-index: 999;

  &--is-open{
    transform: translateX(calc(-300px + 300px));

    @include tablet{
      transform: translateX(0);
    }
  }

  &__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 997;
    display: none;
  }

  &__logo{
    text-align: center;
    padding: 3rem $gap;
  }

  &__user{
    padding: 0 $gap/2 $gap;
  }

  &__item{
    box-shadow: inset 4px 0 0 0 transparent;
    text-transform: uppercase;

    &--is-active{
      box-shadow: inset 4px 0 0 0 $color-primary--light;
    }
  }

  &__link{
    @include font-size($fontsize-h3);

    align-items: center;
    color: $color-primary--dark;
    display: flex;
    padding: $gap/4 $gap/2;

    .nav-main__item--is-active &{
      color: $color-primary--light;
    }
  }

  &__icon{
    fill: currentColor;
    height: auto;
    margin-right: 1em;
    width: 2em;
  }

  &__name{
    display: none;
    line-height: 2;
    letter-spacing: 1px;

    @include tablet{
      display: inline-block;
    }
  }
}